*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
ul {
    list-style: none;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: center;
    gap: 4vw;
    font-size: 20px;
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    ;
   
}
li{
    position: relative;
    text-decoration: none;
    font-family: "Kanit", sans-serif;
    color: #13678A;
    font-size: 18px;
    letter-spacing: 0.5px;
    padding: 0 10px;
    list-style-type: none;
}
li:after{
    content: "";
    position: absolute;
    background-color: #13678A;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}
li:hover{
    color: #012030;
}
li:hover:after{
    width: 100%;
}

 
.menu{
    background-color: #45C4B0;
}

#section01 {
    background-color: #13678A;
    font-family: "Kanit", sans-serif;
    color: #012030;

}
#section02 {
    background-color: #45C4B0;
    font-family: "Kanit", sans-serif;
    color: #012030;
    background-color: #45C4B0;
   
}
#section03 {
    background-color: #13678A;
    font-family: "Kanit", sans-serif;
    color: #012030;
}
#section04 {
    background-color: #45C4B0;
    font-family: "Kanit", sans-serif;
    color: #012030;
    background-color: #45C4B0;
}
section{
    height: 70vh;
}

a{
    text-decoration: none;
    color: inherit;
}